body {
  font-family: 'PixelarRegularW01-Regular';
  background-image: linear-gradient(rgba(127, 199, 204, 0.5),rgba(127, 199, 204, 0.5)) , URL('./images/mikhail-selnihin-full-day-out-light-x4.jpg')
}

h1 {
  font-weight: 600;
  display:block;
  margin: auto;
  width:fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 4.5rem;
  border: 5px;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.colorpicker {
  margin: auto;
  margin-top: 50px;
}

footer {
  position:fixed;
  width:fit-content;
  left: 840px;
  top: 890px;
  font-size: 1rem;
  color:rgb(85, 157, 238);
}